*{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('Background_Image.png') center/cover no-repeat ;
  }
  
  /* Header */
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo {
    height: 70px;
  }
  
  .top-right {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .notification-btn {
    position: relative;
  }
  
  .notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    background-color: #f87171; /* Tailwind's bg-red-500 */
    border-radius: 50%;
  }
  
  .profile-icon {
    height: 50px;
    width: 50px;
    border: 1px solid #d1d5db; /* Tailwind's border-gray-300 */
    border-radius: 50%;
  }
  
  /* Main Content */
  .main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .center-logo {
    height: 23rem
  }
  
  /* Footer */
  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column; /* Arrange items vertically */
    align-items: center; /* Center items horizontally */
    gap: 1rem; /* Space between the images */
  }
  
  .footer img {
    height: 24px;
    width: 24px;
  }
  .invert{
    filter: invert(1);
  }